body {
    background-image: url(https://wallpapercave.com/wp/wp2874399.jpg);    
    background-size: cover;
    background-repeat: none;
    height: 100vh;
   
}

h3, h4 {
    font-family: 'Stalinist One', cursive;
    color: whitesmoke;
  
}

.title {
    font-family: 'Stalinist One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 2rem;
}

.buttons {
    display: flex;
   justify-content: space-evenly;
}

#start:hover, #begin-game:hover {
    background-color: transparent;
}


#begin-game, #start {
    background-color:gray ;
    font-family: 'Stalinist One', cursive;
    font-size: 24px;
    border-radius: 2rem;
    cursor: grab;
}

 .modal {
    background-color:gray;
    color: black;
    padding: 30px;
    width: 50vw;          
    max-width: 500px;
    display: flex;
    min-width: 500px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    top:45%;
    transform: translateY(-45%);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
    font-family: 'Stalinist One', cursive;
}

.modal.open {
    display: block;
}

.close {
    width: 30px;
    height: 30px;  
    background-color: black;
    color: white;
    display: block;
    float: right;
    position: relative;
    top: -380px;
    right: -10px;

}

.information {
    font-family: 'Stalinist One', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;   
}

.container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.battleship-grid {
    margin: 2vmin;
    display: grid;
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
    background-color: blue;
}

.grid-computer > .taken {
    background-color: blue;
}

.battleship-grid div {
    border: 1px solid hsla(0, 0%, 100%, .2);
}

.grid-display {
    display: flex;
    background-color:blue;  
}

.ship > div {
    width: 4.6vmin;
    height: 4.6vmax;
}
   
.taken, .ships {
    background-color: gray;
}

.ship div {
    width: 40px;
    height: 40px;
}

/* Ships */
.destroyer-container {
    width: 80px;
    height: 40px; 
    margin: 10px;  
    display: flex;
}

.submarine-container {
    width: 120px;
    height: 40px;
    margin: 10px;
    display: flex;
}

.cruiser-container {
    width: 120px;
    height: 40px;
    margin: 10px;
    display: flex;
}

.battleship-container {
    width: 160px;
    height: 40px;
    margin: 10px;
    display: flex;
}

.carrier-container {
    width: 200px;
    height: 40px;
    margin: 10px;
    display: flex;
   
}

/* GAMEPLAY */
.kaboom {
    background-color: red !important; 
}

.splash {
    background-color: white;
}


/* Rotated User Ships */
/* .destroyer-container-vertical {
    width: 40px;
    height: 80px;
    margin: 10px;  
    display: flex;
    flex-wrap: wrap;
  
}

.submarine-container-vertical {
    width: 40px;
    height: 120px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cruiser-container-vertical {
    width: 40px;
    height: 120px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.battleship-container-vertical {
    width: 40px;
    height: 160px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.carrier-container-vertical {
    width: 40px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
   
}

/* Computer Ships */
/* .destroyer {
    background-color: green;   
}

.submarine {
    background-color:plum;  
}

.cruiser {
    background-color: purple;
}

.battleship {
    background-color: orange;
}

.carrier {
    background-color: gray;
} */

